:root {
  font-family     : system-ui, Roboto, sans-serif;
  line-height     : 1.5;
  font-weight     : 300;
  font-size       : 16px;
  color-scheme    : light dark;
  color           : rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis         : none;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width     : 100%;
  min-height: 100vh;
}

body {
  width      : 100%;
  min-height : 100vh;
  margin     : 0;
  display    : flex;
  place-items: center;
  min-width  : 320px;
  min-height : 100vh;
  overflow-x : hidden;
}

h1 {
  font-size  : 3.2em;
  line-height: 1.1;
}

.layout {
  display         : flex;
  flex-direction  : column;
  background-color: #f8f9fc;
  width           : 100%;
  overflow-x      : hidden;
}

.login-page {
  background: rgb(192, 0, 0);
}


.left-sidebar {
  background: rgb(192, 0, 0);
  min-height: 100vh;
  padding   : 0;
  width     : 14rem;
  min-width : 14rem;
}

.left-sidebar .logo {
  height         : 74px;
  width          : 100%;
  display        : flex;
  align-items    : center;
  justify-content: center;
  overflow       : hidden;
}

.left-sidebar .logo img {
  width    : 100%;
  max-width: 160px;
}

.left-sidebar .nav-link {
  color         : #fff;
  padding-top   : 10px;
  padding-bottom: 10px;
  display       : flex;
  gap           : 20px;
  align-items   : center;
  transition    : all .5s ease;
}

.left-sidebar .nav-link span {
  font-size: 14px;
}

.left-sidebar.mobile {
  width    : 3.2rem;
  min-width: 3.2rem;
}

.left-sidebar.mobile .logo img {
  display: none;
}

.left-sidebar.mobile .nav-link span {
  display: none;
}

@media screen and (max-width: 767px) {
  .left-sidebar {
    width    : 3.2rem;
    min-width: 3.2rem;
  }

  .left-sidebar .logo img {
    display: none;
  }

  .left-sidebar .nav-link span {
    display: none;
  }
}

.left-sidebar .nav-link i {
  color     : #fff;
  opacity   : .65;
  transition: all .5s ease;
}

.left-sidebar .nav-link:hover {
  color: #fffd94;
}

.left-sidebar .nav-link:hover i {
  color  : #fff;
  opacity: 1;
}

.left-sidebar .nav-link.active {
  color     : #fffd94;
  background: rgb(177, 0, 0);
}

.left-sidebar .nav-link.active i {
  color  : #fffd94;
  opacity: 1;
}

.nav-item .dropdown-item.active,
.nav-item .dropdown-item:active,
.nav-item .dropdown-item:hover {
  background-color: rgb(177, 0, 0);
  color           : var(--bs-dropdown-link-active-color);
}

.nav-item .nav-link {
  display    : flex;
  align-items: center;
  gap        : 10px;
  height     : 100%;
}

.nav-item .menu .user {
  font-weight: 600;
}

.nav-item .menu .email {
  font-size: 12px;
}

form .form-group {
  position: relative;
}

form .invalid-feedback {
  width     : fit-content;
  margin    : 0 auto;
  font-size : 12px;
  background: #fff;
  padding   : 0 5px;
  position  : absolute;
  top       : -10px;
  left      : 8px;
  right     : 8px;
}