:root {
  font-family: system-ui, Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 300;
font-size: 16px;
  color-scheme    : light dark;
  color           : rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis         : none;
  text-rendering         : optimizeLegibility;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width     : 100%;
  min-height: 100vh;
}

a {
  font-weight    : 500;
  color          : #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin     : 0;
  display    : flex;
  place-items: center;
  min-width  : 320px;
  min-height : 100vh;
}

h1 {
  font-size  : 3.2em;
  line-height: 1.1;
}

.layout {
  background: #ededed;
}

.login-page {
  background: rgb(192, 0, 0);
}


.left-sidebar {
  background: rgb(192, 0, 0);
  min-height: 100vh;
  padding   : 0 !important;
}

.left-sidebar .nav-link {
  color         : #fff;
  padding-top   : 10px;
  padding-bottom: 10px;
  display       : flex;
  gap           : 20px;
  align-items   : center;
}

.left-sidebar .nav-link i {
  color: #fff;
}

.left-sidebar .nav-link:hover {
  color: #fffd94;
}

.left-sidebar .nav-link:hover i {
  color: #fff;
}

.left-sidebar .nav-link.active {
  color     : #fffd94;
  background: rgb(177, 0, 0);
}

.left-sidebar .nav-link.active i {
  color     : #fffd94;
}

.nav-item .dropdown-item.active,
.nav-item .dropdown-item:active,
.nav-item .dropdown-item:hover {
  background-color: rgb(177, 0, 0);
  color           : var(--bs-dropdown-link-active-color);
}

.nav-item .nav-link {
  display    : flex;
  align-items: center;
  gap        : 20px;
  height: 100%;
}

.nav-item .menu .user {
  font-weight: 600;
}

.nav-item .menu .email {
  font-size: 13px;
}

button {
  border-radius   : 8px;
  border          : 1px solid transparent;
  padding         : 0.6em 1.2em;
  font-size       : 1em;
  font-weight     : 500;
  font-family     : inherit;
  background-color: #1a1a1a;
  cursor          : pointer;
  transition      : border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form .form-group {
  position: relative;
}

form .invalid-feedback {
    width: fit-content;
    margin: 0 auto;
    font-size: 12px;
    background: #fff;
    padding: 0 5px;
    position: absolute;
    top: -10px;
    left: 8px;
    right: 8px;
}

@media (prefers-color-scheme: light) {
  :root {
    color           : #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}